<section class="splash-section">

  <h1>CASH APP</h1>
  <div class="logo-container">
    <%= image_tag 'https://cdn-icons-png.flaticon.com/256/7648/7648258.png', :class => "splash-logo" %>
  </div>

  <div class="splash-links">
    <%= link_to 'LOG IN', new_user_session_path, class: 'splash-link' %>
    <%= link_to 'SIGN UP', new_user_registration_path, class: 'splash-link' %>
  </div>

</section>
