@import 'variables.scss';

.splash-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient($blue, $dark-blue);
  font-family: $nova-bold;
  text-align: center;

  h1 {
    font-size: 3rem;
    color: $yellow;
  }
}

.splash-links {
  width: 200px;
  display: flex;
  justify-content: space-between;

  a {
    color: white;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      color: $yellow;
    }
  }
}